### Assignment-03 (SET)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty set and print it.

In [31]:
s = set()
s

set()

  Create a set of your favorite colors and print it.

In [32]:
s = {'red', 'pink', 'balck', 'white'}
s

{'balck', 'pink', 'red', 'white'}

    Create a set that includes a mix of data types (integers, strings, floats).

In [33]:
s = {1,2,3,'red', 69.69}

Access the elements of a set using a loop and print each element.

In [34]:
for ele in s:
    print(ele)

1
2
3
69.69
red

add a new element to a set using the add() method.

In [35]:
s.add(420)

Add multiple elements to a set using the update() method.

In [36]:
s1 = [1,2,3,4]
s.update(s1)
s

{1, 2, 3, 4, 420, 69.69, 'red'}

Remove and return an arbitrary element from a set using the pop() method.

In [37]:
s.pop()

1

Remove a specific element from a set using the remove() method.

In [38]:
s.remove(69.69)
s

{2, 3, 4, 420, 'red'}

Remove a specific element from a set using the discard() method.

In [39]:
s.discard(2)

In [40]:
s

{3, 4, 420, 'red'}

Convert a string to a set of unique characters.

In [41]:
string = 'SOBANANJUM'
set_s = set(string)
set_s

{'A', 'B', 'J', 'M', 'N', 'O', 'S', 'U'}

Convert a set of characters to a string.

In [42]:
ss = "".join(set_s)
ss

'SOUBJMNA'

Use the clear() method to remove all elements from a set.

In [43]:
s.clear()
s

set()

Use the copy() method to create a shallow copy of a set.

In [44]:
s1 = {1,2,3,4}
s2 = s1.copy()

s2.add(32)
s1, s2

({1, 2, 3, 4}, {1, 2, 3, 4, 32})

Use the difference() method to find the difference between two sets.

In [45]:
se1 = {1,2,3,4}
se2 = {2,3,4}
se1.difference(se2)

{1}

Create two sets and find their union.

In [46]:
un = se1.union(s2)
un

{1, 2, 3, 4, 32}

    Create two sets and find their intersection.

In [47]:
inter = se1.intersection(se2)
inter

{2, 3, 4}

 Create two sets and find their difference.

In [48]:
se1 = {1,2,3,4}
se2 = {2,3,4}
se1.difference(se2)

{1}

    Create two sets and find their symmetric difference.

In [49]:
se1 = {1,2,3,4}
se2 = {2,3,4}

se1.symmetric_difference(se2)

{1}

Check if one set is a subset of another.

In [50]:
se2.issubset(se1)

True

    Check if one set is a superset of another.

In [51]:
se1.issuperset(se2)

True

    Check if two sets are disjoint (have no common elements).

In [52]:
se2.isdisjoint(se1)

False