### Assignment-01 (List)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Create an empty list and print it.

In [60]:
lst = list()
lst

[]

Create a list of your favorite colors and print it.

In [61]:
colors = ['red', 'pink', 'black', 'white']
colors

['red', 'pink', 'black', 'white']

Create a list that includes a mix of data types (integers, strings, floats).

In [62]:
mix = ['string',69 , 2, 2.2]

Access the first element of a list.

In [63]:
mix[0]

'string'

Access the last element of a list.

In [64]:
mix[-1]

2.2

 Access the second and third elements of a list.

In [65]:
print(mix[1], mix[2])

69 2


Slice a list to extract the first three elements.

In [66]:
sl = mix[:3]
sl

['string', 69, 2]

Slice a list to extract the last three elements.

In [67]:
sl_l = mix[-3:]
sl_l

[69, 2, 2.2]

Slice a list to get every second element.

In [68]:
sl_2 = mix[::2]
sl_2

['string', 2]

Reverse a list using slicing.

In [69]:
test_lst = [1,2,3,4,5,6]
rev = test_lst[::-1]
rev

[6, 5, 4, 3, 2, 1]

 Create two lists and concatenate them.

In [70]:
lst1 = [1,2,3]
lst2 = [4,5,6]
lst_conc = lst1 + lst2
lst_conc

[1, 2, 3, 4, 5, 6]


Repeat a list multiple times using the repetition operator

In [71]:
lst_rep = [[]] * 4
lst_rep

[[], [], [], []]

Add a new element to the end of a list using the append() method.

In [72]:
app_lst = [1,2,3,4,5]
app_lst.append(69)
app_lst

[1, 2, 3, 4, 5, 69]


Extend a list with elements from another list using the extend() method.

In [73]:
ext_lst = [1,2,3,4,5]
test_lll = [69, 70, 71]
ext_lst.extend(test_lll)
ext_lst

[1, 2, 3, 4, 5, 69, 70, 71]

Insert an element at a specific index in a list using the insert() method.

In [74]:
ins_lst = [1,2,3,4,5,6]
ins_lst.insert(2, 410)
ins_lst

[1, 2, 410, 3, 4, 5, 6]

 Remove the last element from a list using the pop() method.

In [75]:
pop_lst = [1,2,3,4,5]
pop_lst.pop()

5

Remove a specific element from a list using the remove() method.

In [76]:
rem_lst = [1,2,3,4,5,6]
rem_lst.remove(2)
rem_lst

[1, 3, 4, 5, 6]

Clear all elements from a list.

In [77]:
rem_lst.clear()
rem_lst

[]

Delete an element at a specific index using the del statement.

In [78]:
del_lst = [1,2,3,4,5,6,7,8]
del_lst.__delitem__(2);
del_lst

[1, 2, 4, 5, 6, 7, 8]

Convert a string to a list of characters and vice-versa.

In [79]:
a= 'soban'
chr_list = list(a)
print(chr_list)

p_list = "".join(chr_list)
print(p_list)

['s', 'o', 'b', 'a', 'n']
soban

Sort a list in ascending order using the sort() method.

In [80]:
asc_lst = [6,5,4,3,2,1]
asc_lst.sort()
asc_lst

[1, 2, 3, 4, 5, 6]


Sort a list in descending order using the sort() method.

In [81]:
dec_lst = [1, 2, 3, 4, 5, 6]
dec_lst.sort(reverse=True)
dec_lst

[6, 5, 4, 3, 2, 1]

Reverse the order of a list using the reverse() method.

In [82]:
rev_list = [1,2,3,4,5,6]
rev_list.reverse()
rev_list

[6, 5, 4, 3, 2, 1]

Check if an element is present in a list using the in operator.

In [83]:
print(6 in rev_list)

True

Compare two lists to see if they are equal in both value and identity.

In [84]:
print(rev_list == dec_lst)

True

Create a shallow copy of a list and modify one of the lists to observe the effects on the other.

In [85]:
import copy
d_lst1 = [[1,2], [3,4], [5,6]]
d_lst2 = copy.copy(d_lst1)

d_lst1[0][1] = 32


print('Original List: ', d_lst1)
print('Shallow Copy List: ', d_lst2)

Original List:  [[1, 32], [3, 4], [5, 6]]
Shallow Copy List:  [[1, 32], [3, 4], [5, 6]]

Create a deep copy of a nested list and modify one of the lists to observe the effects on the other.

In [86]:
import copy
d_lst1 = [[1,2], [3,4], [5,6]]
d_lst2 = copy.deepcopy(d_lst1)

d_lst1[0][1] = 32


print('Original LIst: ', d_lst1)
print('Deep Copy List: ', d_lst2)

Original LIst:  [[1, 32], [3, 4], [5, 6]]
Deep Copy List:  [[1, 2], [3, 4], [5, 6]]

Pickle and Unpickle a list and display its content.

In [87]:
import pickle

# List to pickle
original_list = [1, 2, 3, 4, 5]

# Pickle the list
with open('pickled_list.pkl', 'wb') as file:
    pickle.dump(original_list, file)

# Unpickle the list
with open('pickled_list.pkl', 'rb') as file:
    unpickled_list = pickle.load(file)

# Display the content of the unpickled list
print("Unpickled List Content:", unpickled_list)

Unpickled List Content: [1, 2, 3, 4, 5]