# Contents
## 1. What is value
## 2. print () function
## 3. type () function
## 4. Variable
## 5. Variable names and keywords
## 6. Statements
## 7. Operators and operands
## 8. Order of operations
## 9. String operations
## 10. Asking the user for input
## 11. Type Casting
## 12. Comments

# 1. Value

### A value is one of the basic things a program works with, like a letter or a number.
The values could be 1, 2.5, and 'Hello, World!'.

These values belong to different types: 1 is an integer, 2.5 is float and "Hello World" is a string

# 2. print() function

We can print these values using print () function

In [1]:
print (1)

1

In [2]:
print(2.5)

2.5

In [3]:
print ("hello world")

hello world

In [4]:
print ('hello world')

hello world

In [1]:
# print two or more values using single statement
print('hello', "soban", 3, 6)

hello soban 3 6

In [2]:
# print the name of your country
print("Pakistan")

Pakistan

In [3]:
# print your date of birth
print("20,09,2023")

20,09,2023

In [4]:
# print your name, age and height using one print statement
print("Soban", 20, 6)

Soban 20 6

# 3. type() function

If you are not sure what type a value has, the interpreter can tell you.

In [12]:
type(1)

int

In [13]:
type(2.5)

float

In [14]:
type("hello world")

str

In [5]:
# what will be the type of '5'

# what is type of 9.3333333333
# float
type(9.33333)

float

In [7]:
#print the type of (), [], {} 
print(type(()), type([]), type({}))

<class 'tuple'> <class 'list'> <class 'dict'>

In [8]:
# what is output of type(range(5))
type(range(5))

range

# 4. Variable

One of the most powerful features of a programming language is the ability to
manipulate variables. 

A variable is a name that refers to a value.

Variables names are case sensitive

In [34]:
# An assignment statement creates new variables and gives them values:
name = "Ahmed"
age = 20
height = 3.5

This example makes three assignments, first assign "Ahmed" to name variable, second assign 20 to age and 3.5 to height

In [9]:
# to print the name you can use print statement
name = "Ahmed"
age = 20
height = 3.5

In [11]:
# print the values of age and height
print(age, height)

3.5

In [35]:
# print all three values using single print statement
print(name, age, height)

In [13]:
# What will happen if you print 1 million using following statement
print(1,000,000)
# now search out the way to print 1 million and try it out
print("1,000,000")

1 0 0
1,000,000

In [14]:
# Store three integers in x,y,z and print them using single print statement.
x, y, z = 1, 2, 3
print(x,y,z)

1 2 3

In [16]:
var1 = 121.25
# print type of var1
type(var1)

float

# 5. Variable names and keywords

Variable names can be arbitrarily long. 
They can contain both letters and numbers,but they have to begin with a letter.
The underscore character (_) can appear in a name.
Variable names can start with an underscore character, but we generally avoid using it unles
we are writing library code for others to use.

In [18]:
#what will happen
# 47name = 'Pakistan'
# name@ = 'Pakistan'
# class = 'Pakistan'
# myname = 'kamran'
#first_val = 10
#string = 'abc'

It turns out that class is one of Pythonâ€™s keywords.
The interpreter uses keywords to recognize the structure of the program, and they cannot be used as variable names.

# 6. Statements

A statement is a unit of code that the Python interpreter can execute.
We have seen two kinds of statements: print and assignment.

# 7. Operators and operands

Operators are special symbols that represent computations like addition and multiplication.
The values the operator is applied to are called operands.

In [20]:
# The operators +, -, *, / and ** perform addition, subtraction, multiplication, division,
# exponentiation and modulus operator as in the following examples:
print (20+32, 3-1, 4*5 , 12/6,  5**2, 13%5)

52 2 20 2.0 25 3

In [19]:
# print 200+323-433
print(200+323-433)

90

In [21]:
# print (2+1)*(8-6)
print((2+1)*(8-6))

6

In [23]:
# print no of bytes in 1KB using exponentiation operator

print(10** 3)

1000

In [24]:
print(2*3**3*4)

216

# 8. Expressions

An expression is a combination of values, variables, and operators.

Assignement: type the following statements in the Python interpreter to see what
they do:
5
x = 5
x + 1

In [25]:
# execute the following statements and see the output
#5
x = 5
x + 1
x

5

In [26]:
# what is output of
y = 10
x = y+=2
print(x)

SyntaxError: invalid syntax (1781337220.py, line 3)

In [27]:
# Store three integers in x,y,z and print their sum and product.

x ,y, z = 2, 3, 4
sum_ = x+y+z
prod = x*y*z

print(sum_, prod)

9 24

# 9. Order of operations

When more than one operator appears in an expression, the order of evaluation
depends on the rules of precedence. 
For mathematical operators, Python follows mathematical convention. 
The acronym PEMDAS is a useful way to remember the rules:
1. Parentheses
2. Exponentiation
3. Multiplication and Division
4. Addition and Subtraction
Operators with the same precedence are evaluated from left to right.

In [33]:
# write output of the following commands without excuting it
# print (2*(3-1))

first = 4

# print ((1+1)**(5-2))

second = 8
# print (2**1+1)
third = 3
# print (3*1**3)
fourth = 3

# 10. String operations

In [31]:
first = 10
second = 20
print (first + second)

30

In [32]:
first = '10'
second = '20'
print (first + second)

1020

In [34]:
print ("hello" * 3 )

hellohellohello

In [36]:
# print your name 10 times
print('Soban ' * 10)

Soban Soban Soban Soban Soban Soban Soban Soban Soban Soban

In [38]:
# What is output of var="James"*2*3
# JamesJamesJamesJamesJamesJames

# 11. Asking the user for input

In [40]:
name = input("please enter name: ")
print (name)

Soban

In [41]:
# write a program which take age from user and concate it three time
age = input()
age *= 3
age

'181818'

In [43]:
# Write a program to accept two numbers from the user and calculate multiplication.
one = int(input("Enter first number: "))
second = int(input("Enter second number: "))

prod = one*second
prod

30

In [44]:
# modify this code so that it prints 121212 instead of 36
age='12'
print(age*3)

121212

# 12. Type Casting

In [45]:
a = '10'
print (a)

10

In [46]:
int(a)
str(a)

'10'

In [47]:
# take an integer from user and multiply it with 15
integer = int(input("Enter an integer to be multiplied by 15: "))

prod = integer * 15
prod

225

In [49]:
num_int = 123
num_str = "456"
# Find the sum of these 2 variables

sum_ = num_int + int(num_str)
sum_

579

# 13. Comments

In [50]:
# here is comments
# ok

# Exercise

Write a program that uses raw_input to prompt a user for their name and then welcomes them.

Enter your name: Chuck
Hello Chuck

In [51]:
# Write a program that uses raw_input to prompt a user for their name and then welcomes them.

# Enter your name: Chuck
# Hello Chuck

greeter = input("Enter your name: ")

print("Hello", greeter)

Hello soban

Write a program to prompt the user for hours and rate per hour to
compute gross pay.

Enter Hours: 35
Enter Rate: 2.75
Pay: 96.25

In [53]:
hours = int(input("Enter Hours: "))
rate = float(input("Enter rate: "))

pay = hours * rate
pay

96.25

Assume that we execute the following assignment statements:
width = 17
height = 12.0

For each of the following expressions, write the value of the expression and the
type (of the value of the expression).

1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5

Use the Python interpreter to check your answers.

In [55]:
width = 17
height = 12.0

width1_float = width/2
print(width1_float, type(width1_float))

width_float = width/2.0
print(width_float, type(width_float))

height_float = height/3
print(height_float, type(height_float))

val = 1 + 2 * 5
print(val, type(val))

8.5 <class 'float'>
8.5 <class 'float'>
4.0 <class 'float'>
11 <class 'int'>

Write a program which prompts the user for a Celsius temperature,
convert the temperature to Fahrenheit and print out the converted temperature.

In [57]:
cel = int(input("enter the temperature in CELSIUS"))

far = (cel * (9/5)) + 32

print("The temperature in Farenhite is ", far)

The temperature in Farenhite is  89.6